@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}

:root{

    --color-main: #00669F;
    --color-secondary: #1CD1B0;
    --color-background: #f3f3f3;
    --color-text: #ffffff;
}

/* HEADER */

header p{
    background-color: var(--color-secondary);
    padding: 0.625em 0 0.625em 1.6875em;
    font-size: 0.9375em;
}

h1{
    background-color: var(--color-main);
    padding: 1.625rem 0 1.75rem 1.625rem;
    position: sticky;
    top: 0;
    z-index: 10;

}


/* MAIN */

.addHero{
    display: none;
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    margin: 9.625em 0;
    flex-wrap: wrap;
}

.card{
    background-color: var(--color-background);
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 18.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top-container-batman{
    background-image: url(../img/background-batman.png);
    border-radius: 1.25em 1.25em 0 0;
}

.top-container-harleyquinn{
    background-image: url(../img/background-harley.png);
}

.top-container{

    width: 100%;
    height: 12.0625em;
    background-size: cover;
}

.fa-heart{
    color: red;
    font-size: 1.5rem;
    padding: 0.625em 0 0 0.625em;
}

.hero{
    position: absolute;
    border-radius: 50%;
    top: 8em;
}

h3{
    margin-top: 4.5625rem;
    font-size: 1.875rem;
}

.card-batman h3{
    text-transform: uppercase;
}

.card p{
    font-size: 1rem;
    margin: 0.625em 1em;
}

.card button{

    background-color: var(--color-main);
    width: 8.04875em;
    height: 3.0325em;
    border: none;
    color: white;
    margin: 2.3125em 1.155em;
}

/* RESPONSIVE TABLET */
.top-container-maravilla{
    background-image: url(../img/background-maravilla.png);
    border-radius: 1.25em 1.25em 0 0;
}

.responsive-heros img{
   width: 7.5em;
   height: 7.5em;
}

.responsive-heros{
    display: none;
}

.top-container-superman{
    background-image: url(../img/background-superman.png);
    border-radius: 1.25em 1.25em 0 0;
}

.card-superman h3{
    text-transform: uppercase;
}

.top-container-harleytwo{
    background-image: url(../img/background-harleytwo.png);
    border-radius: 1.25em 1.25em 0 0;
}




/* FOTTER */

footer{
    background-color: var(--color-main);
    display: flex;
    align-items: center;
}

footer p{
    color: #FFF9F9;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

footer img{
    height: 0.9em;
    margin-right: 0.9375em;
}

footer img{
    display: none;
}



@media (max-width: 768px){
 /* Tablets */

 .addHero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 3.35rem;
    height: 3.35rem;
    border: none;
    background-color: var(--color-main);
    color: var(--color-text);
    border-radius: 50%;
    left: 88%;
    margin-top: 15rem;
    z-index: 10;
    font-size: 1.5rem;
}

 .responsive-heros{
    display: flex;
}

.desktop{
    display: none;
}

.cards-container{
    margin: 2.5em 0 5.625em 0;
}

.card{
    margin: 3.125em 0;
    width: 16.95em;
}

.supertwo{
    display: none;
}

footer p{
    font-size: 0.75rem;
}

footer img{
    display: flex;
}

header p{
    background-color: #D1891C;
    padding: 0.25em 0 0.0625em 1.1875em;
}

}

@media (max-width: 460px){
 /* Smartphones */

 .addHero{
    left: 83.3%;
 }
 .tablet{
    display: none;
 }

 .supertwo{
    display: flex;
 }

header p{
    font-weight: bold;
}

 footer img{
    display: flex;
}


}